@keyframes arrow {
  0% {
    transform: translate(0);
  }
  11% {
    transform: translate(4px);
  }
  21% {
    transform: translate(-2px);
  }
  31% {
    transform: translate(4px);
  }
  41% {
    transform: translate(-2px);
  }
  51% {
    transform: translate(0);
  }
}

.homeBanner {
  padding: 65px 12px 12px;
  text-align: center;
  background-color: #bfdfff;
  background-image: linear-gradient(
    180deg,
    #bfdfff 0%,
    #ebd7ff 50%,
    #ffffff 100%
  );

  user-select: none;
  text-align: center;
  .description {
    margin-top: 15px;
    margin-bottom: 40px;
    color: rgba(31, 33, 38, 0.7);
  }
  .imgBox {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image {
    max-width: 100%;
    width: 1000px;
  }
  .btn {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2878ff;
    border-radius: 8px;
    padding: 0 16px;
    height: 55px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  .arrow {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    animation: arrow 3s ease-in-out infinite;
  }
}
